html {
  background-color: blue;
}
.header {
  border-style: solid;
  background-color:darkslateblue;
  border-color:turquoise;
  border-width: 5px;
  border-radius: 50px;
  text-align: center;
  color:lightskyblue
}
.app {
  background-color:lightslategray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: auto;
  align-items: flex-start;

  border-style: solid;
  border-color:plum;
  border-width: 5px;
  border-radius: 50px;
  margin: 5px;
  max-width: 90%;
  transform: translate(5%);
}
.starshipCard {
  background-color: darkorange;
  text-align: center;
  margin: 5px;
  padding: 45px;

  border-style: solid;
  border-color:greenyellow;
  border-width: 5px;
  border-radius: 50px;
}

a{
  color:rgb(1, 44, 238)
}
.buttonB {
  transform: translateY(-50%);
}